@font-face {
	font-family:raleway-semibold;
	src:url(../fuentes/raleway/Raleway-SemiBold.ttf);
}
@font-face {
	font-family:raleway-regular;
	src:url(../fuentes/raleway/static/Raleway-Regular.ttf);
}
@font-face {
	font-family:sourcesans;
	src:url(../fuentes/sourcesans/sourcesanspro-regular.otf);
}
@font-face {
	font-family:opensans-regular;
	src:url(../fuentes/opensans/OpenSans-Regular.ttf);
}